@import "../../index.css";

.skill {
	height: auto;
	box-shadow: 0 20px 30px -10px var(--gray-smoke-color);
	border: 1px solid;
	border-color: var(--gray-color);
    border-radius: 1.25rem;
	top: 0;
	position: relative;
	transition: top ease 0.5s;
}

.skill:hover {
	top: -10px;
}

.skill a {
	text-decoration: none;
}

.skill:hover .skill-link {
	color: var(--link-color);
	transition: color 0.3s ease-in-out;
}

.skill-container {
	padding: 15px;
	color: var(--white-color);
	text-align: center;
}

.skill-logo {
	width: 30px;
}

.skill-logo img {
	width: 100%;
}

.skill-title {
	font-family: var(--secondary-font);
	color: var(--primary-color);
	font-size: 16px;
	padding-top: 15px;
	margin-bottom: 3em;
	font-weight: 700;
}

.skill-description {
	color: var(--secondary-color);
}

.skill-link {
	display: flex;
	align-items: center;
	color: var(--secondary-color);
	font-size: 12px;
	padding-top: 20px;
}

.skill-stack-container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	color: var(--secondary-color);
	font-size: 12px;
}

.skill-stack-box {
	width: calc(100% / 2);
	box-sizing: border-box;
	padding: 5px;
	overflow: hidden;
}

.skill-link-icon {
	padding-left: 0;
	font-size: 13px;
}

.skill-link-text {
	padding-left: 0;
	font-weight: 700;
}

@media (max-width: 600px) {
	.skill {
        height: auto; /* Allow the height to be determined by content on small screens */
    }

    .skill-container {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .skill-title {
        padding-top: 5px; /* Adjust padding for smaller screens */
        margin-bottom: 0.5em; /* Adjust margin for smaller screens */
    }

    .skill-link {
        padding-top: 5px; /* Adjust padding for smaller screens */
    }
}
