.container-about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--white-smoke-color);
  gap: 1rem;
}

.about-left {
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  max-width: 50%;
}

.left-skills {
  margin: 1rem 0;
}

.about-right img {
  border-radius: 100%;
  width: 100%;
  max-width: 180px;
  margin: 0;
  height: auto;
}

.tech-stack {
  margin-top: 1rem;
  margin-left: 1.1rem;
}

.about-see {
  border-bottom: 1px solid var(--purple-color);
  padding-bottom: 2px;
  max-width: fit-content;
}

.resume-button {
  background-color: var(--white-smoke-color);
  width: 47.5%;
}

.about-logo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.social-icon {
  color: var(--white-smoke-color);
  font-size: 25px;
}

.about-download {
  margin-top: 10px;
  display: flex;
  gap: 5%;
}

@media (max-width: 768px) {
  .about-logo {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .about-left {
      padding: 20px;
      text-align: left;
      max-width: 100%;
  }

  .container-about {
      display: block;
  }

  .about-right img {
      margin: 0;
      max-width: 100%; /* Make the image full width on small screens */
  }

  .resume-button {
      width: 100%; /* Make the button full width on small screens */
  }
}
