.container-contact {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 0;
  color: var(--white-smoke-color);
  border-radius: 10px;
}

.contact-left {
  display: flex;
  gap: 0.4rem;
  column-gap: 0.4rem;
  row-gap: 0.4rem;
  flex-direction: column;
  width: 50%; /* Make the left column full width on small screens */
  margin: 15px;
}

.left-skills {
  margin: 1rem 0;
}

.contact-right {
  margin: 0;
  padding: 20px;
  width: 50%; /* Make the right column full width on small screens */
}

.tech-stack {
  margin-top: 1rem;
  margin-left: 1.1rem;
}

.contact-see {
  border-bottom: 1px solid var(--purple-color);
  padding-bottom: 2px;
  max-width: fit-content;
}

.resume-button {
  background-color: var(--white-smoke-color);
}

.email-input {
    border: 2px solid #ff5722;
    color: #fff; /* Dark mode text color */
}

.emoji-sub-title {
  font-size: 3.5rem;
}

@media (max-width: 768px) {
  .contact-left {
    text-align: left;
    max-width: 100%;
    width: 100%;
    margin: 0;
  }

  .container-contact {
    display: block;
  }

  .contact-right img {
    margin: 0;
    max-width: 100%; /* Make the image full width on small screens */
  }

  .contact-right {
    padding: 20px;
    width: 90%;
  }
}
