@import "../../index.css";

.container-works {
    height: 100%
}

.works-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.works-img {
	width: 100%;
    object-fit: cover;
    height: 100%;
}

.works-slider {
    padding: 30px
}

.works-detail {
    padding: 30px;
}